.textbox{
    width: 100vw;
    background-color: white;
    border: 1px solid #009cde;
    border-color: #009cde;
    font-family: sans-serif;
    font-size: 3rem;
    text-align: left;
    margin: auto;
    padding: 50px;
    color: #009cde;
}

.textbox:hover{
    padding-bottom: 70px;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

#top:hover{
    padding-bottom: 50px;
}

#top{
    border-top: none;
}

#bottom{
    border-bottom: none;
}